// Specific CSS for your home-page
.layout-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media(max-width: 720px){
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    }
}
