$card-max-width: 400px;
$card-min-width: 300px;

// For Shadows
$shadow-key-umbra-opacity: 0.2 !default;
$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;

/**
* MIXINS
*/

// To create a flex box
@mixin flex-box($direction, $main-alignment, $secondary-alignment) {
  display: flex;
  flex-direction: $direction;
  justify-content: $main-alignment;
  align-items: $secondary-alignment;
}

// To create a litte shadow on elements
  @mixin shadow-2dp() {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity),
                  0 3px 1px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity),
                  0 1px 5px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
  }

// Global CSS Set-up
* {
  box-sizing: border-box;
}


// Card CSS Setup
.card {
  width: 100%;
  max-width: $card-max-width;
  min-width: $card-min-width;
  background-color: white;
  border-radius: 5px;
  margin: 30px;
  padding: 10px;
  @include shadow-2dp();
}

.card-title {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: red;
  display: flex;
  align-content: center;
  flex-direction: columns;
}

.card-text {
  padding-left: 15px;
  padding-right: 15px;
  color: blue;
}

.card-actions {
  padding: 15px;
  @include flex-box(row, space-around, center);
}

.card-actions__link {
  text-decoration: none;
  font-size: 1.5em;
  font-style: normal;
  font-variant: small-caps;
  margin-right: 10px;
  color: red;
}

.card-media {
  width: 100%;
  min-height: 200px;
  background-color: red;
  padding: 10px;

  @include flex-box(column, flex-end, flex-end);
}

.border-top {
  border-top: 1px solid gray;
}
